{
  "presets": ["env", "stage-0"],
  "plugins": ["transform-runtime", ["component", [
    {
      "libraryName": "mint-ui",
      "style": true
    }
  ]],//取消严格模式
    ["transform-remove-strict-mode"]
  ]
}